Dear participant,
<p>Thank you for participating in the SMILE research study.</p>
<p>When you completed the survey, you stated that you may be willing to recruit other people to take the survey.</p>
<p>For each of the people you recruit who successfully completes the survey (up to 2 people), you will receive $2,
  and the person completing the survey will receive a small payment as well.
</p>
<p>You have upto 2 weeks to complete this process - the people you invite to participate in the study have to complete their surveys in the next 2 weeks.</p>
<b>
  <p>
    Please only share this link with people that... <br>
    1) are <%= @participant.sgm_group_label %> <br>
    2) you know, <br>
    3) know you, AND you have communicated with at least once in the past 2 years by any form of communication
  </p>
</b>
<p>Please let each person know in your own words about the survey, and that they can learn more about it by clicking on their invitation link.</p>
<p>
  <b>Please note:</b>
  The link below is different from the one you used to start your survey. Please only use this link to invite others to take their survey.
</p>
<p>You can recruit other people by sharing with them the following link:</p>
<p><%= Rails.application.credentials.config[:invitation_url] %>?referrer_code=<%= @participant.code %></p>
<p>Thank you.</p>
<p>Sincerely,</p>
<p>
  <%= Rails.application.credentials.config[:from_name] %> and 
  <%= Rails.application.credentials.config[:from_name_alt] %>
  - <%= Rails.application.credentials.config[:from_email] %>
  (<%= Rails.application.credentials.config[:from_phone] %>)
</p>
<p>On behalf of the SMILE Team</p>
