Dear
<%= @participant.first_name %>,

<p>Thank you for participating in the SMILE SGM Pilot Study at Duke.</p>

<p>When you completed the survey, you agreed to recruit other sexual and gender minority (LGBTQ+) participants who identify as
  <b><%= @participant.sgm_group_label %></b>
  to also take the survey.</p>

<p>You can recruit as many people as you’d like, but for each of the first five people you recruit who successfully completes the survey, you will receive 1 extra raffle entry (up to 6 entries total, including the entry you received for completing
  your survey). As a reminder, each raffle winner will receive one of four $250 cash prizes.
</p>

<p>Please let each person know in your own words about the survey, and that they can learn more about it by clicking on their invitation link.</p>

<p>
  <b>Please note:</b>
  The link below is different from the one you used to start your survey. Please only use this link to invite others to take their survey.
</p>

<p>You can recruit other people by sharing the following invitation link with each of them:</p>

<p><%= Rails.application.credentials.config[:invitation_url] %>?referrer_code=<%= @participant.code %></p>

<p>Thank you.</p>

<p>Sincerely,</p>

<p><%= Rails.application.credentials.config[:from_name_alt] %>
  (<%= Rails.application.credentials.config[:from_email_alt] %>) and
  <%= Rails.application.credentials.config[:from_name] %>
  (<%= Rails.application.credentials.config[:from_email] %>)</p>

<p>On behalf of the SMILE SGM Pilot Team at Duke</p>