Dear participant,
<p>Thank you for participating in the SMILE research study.</p>
<p>When you completed the survey, you stated that you may be willing to invite other 
  people to take the survey. If you do not want to invite anyone, you can ignore this 
  email or click <a href="<%= admin_opt_out_url({code: @participant.code}) %>">here</a>
  to opt out of future reminders.
</p>
<p>You can invite up to 2 people. For each person you invite who successfully 
  completes the survey, you will receive a small payment of $2 [specific to country], 
  and the person completing the survey will receive a small payment ($1 [specific to 
  each country]) as well.
</p>
<p>If you would like to invite other people to join the research study, please click 
  on the link below to learn more.
</p>
<b>
  <p><%= Rails.application.credentials.config[:seeds_consent_url] %>?code=<%= @participant.code %></p>
  <p>Please do not share this link with anyone else.</p>
</b>
<p>You have one week to invite people to participate in the study.</p>
<p>Thank you.</p>
<p>Sincerely,</p>
(country coordinator and their contact details)<br>
<%= Rails.application.credentials.config[:from_name] %> - 
<%= Rails.application.credentials.config[:from_email] %>
(<%= Rails.application.credentials.config[:from_phone] %>)<br>
<%= Rails.application.credentials.config[:from_name_alt] %> - 
<%= Rails.application.credentials.config[:from_email_alt] %>
(<%= Rails.application.credentials.config[:from_phone_alt] %>)<br>
On behalf of the SMILE Team
