Dear participant,
<p>Thank you for participating in the SMILE research study. In the future we may reach 
  out to request your participation in more surveys.
</p>
<p>Your compensation for participating in the study is <%= @participant.payment_amount %>. 
  It will be paid out in the next 2 weeks using the mobile phone number <%= @participant.phone_number %>.
</p>
<p>If you have any questions, please reach out to your [country coordinator] [contact details].</p>
<p>Thank you.</p>
<p>Sincerely,</p>
<%= @participant.country_contact %><br>
<%= Rails.application.credentials.config[:from_name_alt] %> - 
<%= Rails.application.credentials.config[:from_email_alt] %>
(<%= Rails.application.credentials.config[:from_phone_alt] %>)<br>
On behalf of the SMILE Team<br>
<em>Please do not reply to this email. If you want to talk to someone, use the contacts provided above.</em>