<%= I18n.t('rds.email.invite_initial_p0', locale: @participant.locale) %>
<p><%= I18n.t('rds.email.invite_initial_p1', locale: @participant.locale) %>
  <%= I18n.t('rds.email.post_consent_p10', locale: @participant.locale) %></p>
<p><%= I18n.t('rds.email.post_consent_p11', locale: @participant.locale,
  payment_amount: @participant.payment_amount, phone_number: @participant.phone_number) %></p>
<p><%= I18n.t('rds.email.post_consent_p12', locale: @participant.locale,
  country: @participant.country, contact: @participant.country_contact2) %></p>
<p><%= I18n.t('rds.email.invite_initial_p7', locale: @participant.locale) %></p>
<p><%= I18n.t('rds.email.invite_initial_p8', locale: @participant.locale) %></p>
<%= @participant.country_contact %><br>
<%= Rails.application.credentials.config[:from_name] %> - 
<%= Rails.application.credentials.config[:from_email] %>
(<%= Rails.application.credentials.config[:from_phone] %>)<br>
<%= I18n.t('rds.email.invite_initial_p9', locale: @participant.locale) %><br>
<em><%= I18n.t('rds.email.invite_initial_p10', locale: @participant.locale) %></em>
